<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="GCMConnection" connectionString="Server=172.31.139.27;Port=5432;Database=GCM;User Id=gcm;Password=gcm;CommandTimeout=300;Timeout=300;" providerName="Npgsql" />
  </connectionStrings>
</configuration>
